*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.img-Div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.img-Div img{
    width: 150px;
    height: 200px;
    gap: 5px;
}